# Virtual environment folder
multiclip-env/

# Python cache files
*.pyc
__pycache__/

# Log files
*.log

# Local configuration files
clipboard_dict.json
toast_config.json

# Poetry-related files that shouldn't be pushed
poetry.lock

# Editor-specific folders (optional, depending on your IDE)
.vscode/
.idea/
